.sudokuBoardWrapper {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px 70px;
    border: 2px solid black;
}

.sudokuCellBottom {
    border-bottom: 2px solid black;
}

.sudokuCellRight {
    border-right: 2px solid black;
}

.sudokuCell {
    /*height: 100%;*/
    /*width: 100%;*/
}

.sudokuCellInput {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
}

.numberInput {
    display: flex;
    width: 20px;
    padding: 5px;
    border-radius: 10px;
}

.greenFont {
    color: lightgreen;
}

.redFont {
    color: red;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
