.sudokuWrapper {
    margin-left: auto;
    margin-right: auto;
}

.sudokuGameBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;
}

.tabsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tab {
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.tab:hover {
    cursor: pointer;
}

.componentWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1900px;
    height: 100%;
    min-height: 768px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    
}
