.imageWrapper {
    width: 100%;
    height: 80vh;
}

.cropperWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
}

.imageButtons {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.imageButtons:hover {
    cursor: pointer;
}
